<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.otus.chepiov.l9.Meta" level="DEBUG"
            additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.zaxxer.hikari">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.eclipse.jetty">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.jboss.logging">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="liquibase">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="net.sf.ehcache">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>